@model IList<NextLeapAcademy.BusinessEntities.Course>

@{
    Layout = "_MainLayout";
}

<div class="container-fluid">

    <div class="row">

        <div class="container-fluid">

            <div>
                <a class="btn btn-primary btn-sm float-end mb-2 " role="button" type="link" href="@Url.Action(controller:"Course",action:"AddCourses")">Add Course</a>
            </div>

            <table class="table table-bordered table-hover ">
                <thead>
                    <tr class="table-active">
                        <th>Course Name</th>
                        <th>Duration</th>
                        <th>Price</th>
                        <th colspan="2">Modify</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var courseobj in Model)
                    {
                        <tr>
                            @*<td>@Courseobj.CourseId</td>*@
                            <td class="text-primary">@courseobj.Title</td>
                            <td>@courseobj.Duration Days. All Levels</td>
                            <td class="text-primary">@courseobj.Price</td>
                            <td><a class="btn btn-info btn-sm" href="@Url.Action(controller:"Student",action:"Studentcard")">View</a></td>
                            <td><a class="btn btn-secondary btn-sm" href="@Url.Action("CourseEditor","Courses",new{Courseid = courseobj.CourseId})">Edit</a></td>

                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>


</div>

