@{
    Layout = "_MainLayout";
}

@model IList<NextLeapAcademy.BusinessEntities.Student>

<div class="container-fluid">

    <div class="row">

        <div class="container-fluid">

            <div>
                <a class="btn btn-primary btn-sm float-end mb-2 " role="button" type="link" href="@Url.Action(controller:"Student",action:"AddStudent")">Add Student</a>
            </div>

            <table class="table table-bordered table-hover" id="studentsList">
                <thead>
                    <tr class="table-active">
                        <th>RollNumber</th>
                        <th>Student Name</th>
                        <th>Gender</th>
                        <th>Date OF Brith</th>
                        <th>Mobile Number</th>
                        <th>Email_ID</th>
                        <th>Course</th>
                        <th>Nationality</th>
                        <th colspan="3">Modify</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var stobj in Model)
                    {
                        <tr id="@stobj.StudentId">
                            <td>@stobj.RollNumber</td>
                            <td class="text-primary">@stobj.StudentName</td>
                            <td>@stobj.Gender</td>
                            <td>@stobj.Dob.ToShortDateString()</td>
                            <td>@stobj.MobileNumber</td>
                            <td>@stobj.Email</td>
                            <td>@stobj.Course.Title</td>
                            <td>@stobj.Nation.NationName</td>
                            <td><a class="btn btn-info btn-sm" href="@Url.Action("StudentRo","Student",new{Studentid = stobj.StudentId})">View</a></td>
                            <td><a class="btn btn-secondary btn-sm" href="@Url.Action("Seditorpage","Student",new{Studentid = stobj.StudentId})">Edit</a></td>
                            <td><a class="btn btn-danger btn-sm" href="#" onclick="deleteStudent(@stobj.StudentId)">Delete</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

<script type ="text/javascript">

    function deleteStudent(StudentId) {

        var deleteStudentUrl = "https://localhost:7222/Student/deleteStudent";

        var deleteStudentData = { studId : StudentId};

        //Send the JSON data using $.post()

        $.post(deleteStudentUrl,deleteStudentData,
            function(response) {

                if (response)
                {
                    // Success callback
                    $("#studentsList").find("#" + StudentId).remove();
                
                }
                else
                {
                    alert("Fail to delete a student, please contact admin!");
                }

            }, 'json')
            .fail(function (xhr, status, error){
                // Error callback
                console.error('Error:', error);
            });

    }








</script>


    
